@import "tailwindcss";
@import "./../styles/theme-colors.css";

:root {
  --background: var(--color-scesi-grey-light);
  --foreground: var(--color-scesi-grey-normal);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
